{% extends 'basc.html' %}
{% load static from staticfiles %}

{% block title %}
{% for foo in music_name %}
    {{ foo.music_name }}
{% endfor %}
{% endblock title %}

{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'music/music_info.css' %}" />
{% endblock linkscript %}

{% block main %}
    <div class="main">
        <div class="big-box">
            {% for datum in data %}
                <h1 id="content">
{#                    <span class="movie-ranking">{{ datum.music_name }}</span>#}
                    <span class="movie-name">{{ datum.music_name }} </span>
                </h1>
                <div class="box">
                    <div class="pic">
                        <img src="{{ datum.img }}">
                    </div>
                    <div class="info">
                        <p><span class="title">表演者:</span><span class="msg">{{ datum.music_performer }}</span></p>
                        <p><span class="title">流派:</span><span class="msg">{{ datum.music_schools }}</span></p>
                        <p><span class="title">专辑类型:</span><span class="msg">{{ datum.music_type }}</span></p>
                        <p><span class="title">介质:</span><span class="msg">{{ datum.music_medium }}</span></p>
                        <p><span class="title">发行时间:</span><span class="msg">{{ datum.music_release }}</span></p>
                        <p><span class="title">出版者:</span><span class="msg">{{ datum.music_publisher }}</span></p>
                        <p><span class="title">唱片数:</span><span class="msg">{{ datum.music_number }}</span></p>
                        <p><span class="title">条形码:</span><span class="msg">{{ datum.music_code }}</span></p>
                        <p><span class="title">ISRC(中国):</span><span class="msg">{{ datum.music_ISRC }}</span></p>
                        <p><span class="title">其他版本:</span><span class="msg">{{ datum.music_Other }}</span></p>
                        <p><span class="title">评分:</span><span class="msg">{{ datum.music_score }}</span></p>
                        <p><span class="title">评价人数:</span><span class="msg">{{ datum.data_number }} 人</span></p>
                    </div>

                    <div class="clear"></div>
                </div>
                <div class="introduction">
                    <p class="mark">{{ datum.music_name }} 专辑简介...</p>
                    <p class="con">{{ datum.introduction }}</p>
                </div>
                <div class="introduction">
                    <p class="mark">{{ datum.music_name }} 曲目...</p>
                    <p class="con">{{ datum.song }}</p>
                </div>
                <div class="comment">
                    <p class="mark">{{ datum.music_name }} 短评...</p>
                    <div class="content_info">
                        {% for foo in content %}
                            <div class="portrait">
                                <div class="img">
                                    <img src="{{ foo.net_img | default:'/static/media/du.jpg' }}"/>
                                </div>
                                <div class="info_net">
                                    <span class="name">{{ foo.net_name }}</span>
                                    <span class="status">{{ foo.states }}</span>
                                    <span class="time">{{ foo.contentTime }}</span>
                                    <p class="content">{{ foo.content | default:'...'}}</p>
                                </div>
                                <div class="clear"></div>
                            </div>
                            {% empty %}
{#                                    <p class="empty">Smithereens.温馨提示:</p>#}
                                    <p class="p-space empty">暂时还没有人评论,赶快去做第一个吃螃蟹的人吧!</p>
                        {% endfor %}
                    </div>
                    <p class="link"><a href="{{ datum.music_comment_website }}">点击这里显示全部短评的辣...</a> </p>
                    <span class="img-circle"><img src="/media/shou.png"></span>
                </div>
            {% endfor %}
        </div>

    </div>
{% endblock main %}