.border{
    margin-left: 5%;
    border-left: solid 1px #ddd;
    margin-right: 5%;
    border-right: solid 1px #ddd;
}
.main{
    padding-top: 2.5%;
    padding-left: 3%;
    padding-right: 3%;
    width: 100%;
    height: 100%;
    overflow: auto;
    z-index: 10;
}

.note{
    padding: 2%;
    font-weight: 600;
    margin-left: 5%;
    color: #494949;
    font-size: 26px;
}
.p-box{
    width: 100%;
    height: 5%;
    border-bottom: solid 1px #ddd;
    border-top: solid 1px #ddd;
    padding: 1%;
}
.rate{
    margin-left: 1%;
    font-weight: 600;
}
.rate span{
    color: #999;
}
.read{
    margin-left: 70%;
    font-weight: 600;
}
.read a{
    /*margin-left: 8%;*/
    color: blue;
}
.read a:hover{
    color: red;
}
.box{
    display: block;
    width: 100%;
    margin-top: 1%;
    border-bottom: solid 1px #ddd;
}
.clear:after{
    content: ".";
    height: 0;
    visibility: hidden;
    display: block;
    clear: both;
}

.big-box{
    padding-right: 3%;
    padding-left: 3%;
}
.img{
    display: block;
    float: left;
    margin-left: 10px;
    margin-right: 15px;
    width: 50px;
    height: 50px;
}
.img img{
    overflow: hidden;
    height: 100%;
    width: 100%;
}
.info{
    overflow: hidden;
    color: #494949;
    font-size: 13px;
    line-height: 30px;
}
.name{
    font-weight: 600;
    color: chocolate;
}
.time{
    margin-left: 5px;
    color: #999;
}
.status{
    margin-left: 5px;
    color: #666;
}
.content{
    color: #333;
    text-indent: 25px;
}
.empty{
    margin: 5% 5% 5% 5%;
    color: #999;
}
.p-space{
    text-indent: 25px;
}