{% extends 'basc.html' %}
{% load static from staticfiles %}

{% block title %}login{% endblock title %}

{% block linkscript %}
    <link rel="stylesheet" type="text/css" href="{% static 'home/user_info.css' %}"/>
    <script type="text/javascript" src="{% static 'home/login.js' %}"></script>
{% endblock linkscript %}

{% block main %}
    <div class="main">

        <div class="big-box">

            <div class="movie-name">
                <span class="note"> 用户信息 </span>
            </div>
            <div class="ansi-bold">
                <div class="form-group">
                    <label class="col-sm-2 control-label">头像</label>
                    <div class="col-sm-5">
                        <img src="/media/{{ user.net_img }}" height="60px" width="60px">
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">昵称</label>
                    <div class="col-sm-5">
                        <input class="form-control" value="{{ user.net_name }}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">手机号</label>
                    <div class="col-sm-5">
                        <input class="form-control" value="{{ user.phone }}" readonly>
                    </div>
                </div>
                <div class="form-group">
                    <label class="col-sm-2 control-label">年龄</label>
                    <div class="col-sm-5">
                        <input class="form-control" value="{{ user.age }}" readonly>
                    </div>
                </div>

                <div class="form-group">
                    <label class="col-sm-2 control-label">性别</label>
                    <div class="col-sm-5">
                        <input class="form-control" value="{{ user.sex }}" readonly>
                    </div>
                </div>

            </div>

        </div>
    </div>
{% endblock main %}