
body{
    overflow-x: hidden;
    overflow-y: auto;
    background-color: #fff;
    font-family: 新宋体;
}
header{
    width: 100%;
    height: 5%;
    position: fixed;
    display: flex;
    z-index: 10;
    left:0;
    top: 0;
    background-color: #555;
}
.look{
    font-size: 13px;
    margin-left: 5%;
    margin-top: 0.5%;
    font-family: 微软雅黑;

}

.look a{
    color: #fff;
}
.look a:hover{
    color: red;
}
.look a:active{
    color: #985f0d;
}
.movie a{
    font-weight: 600;
}
.book a{
    font-weight: 600;
}
.music a{
    font-weight: 600;
}
.what {
    margin-left: 25%;
}
header .what a{
    color: #999999;
}
.login{
    color: #fff;
}